*~
*.pyc
.*.sw?
**.log
/docs_build/
/docs_output/
/releng/
/tests/*.img

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.testrepository/


# Sphinx documentation
docs/_build/

# IDE
.idea/

# Build results
.tox
